scene {
  width: 1280px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  width: 100%;
  height: 100%;
  margin: auto;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: auto !important;
}

html {
  background-image: url("./../Assets/backgroundImage.png");
  background-size: cover;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: url("../Assets/backgroundImage.png");
  background-size: cover;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

dialog {
  padding: 1em; 
  border: 0px; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.309);
}

button {
  padding: 1em;
  margin-left: 2em;
  margin-top: 20%;
  border: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  padding-left: 100px;
  font-weight: bolder;
  background: url("./../Assets/labels-4963742_1280.png");
  background-size: cover;
  width: 300px;
  height: 110px;
}

button:hover {
  filter: grayscale(100);
}

.basicChoice {
  width: 1280px;
  display: flex;
  justify-content: space-around;
}

speech {
  padding: 1em;
  width: 700px;
  height: 150px;
  margin: auto;
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  background: rgb(255, 249, 231);
  visibility: hidden;
  border-radius: 5px;
  position: relative;
  top: -185px;
}

content {
  color: rgb(18, 18, 18);
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
  width: 500px;
  height: 150px;
}

.textEffectBig  {
  font-size: 8em;
  text-align: center;
  margin: auto;
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
}

name {
  color: rgb(157, 157, 157);
  font-size: 1.2em;
  display: block;
  font-family: 'Playfair Display', serif;
}

#endScreen {
  width: 1280px;
  height: 720px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.endScreenInvisible {
  display: none;
}

.endScreenVisible {
  display: flex;
}

.achievment {
  width: 250px;
  height: 250px;
  filter: grayscale(0%);
}

.outAchievment {
  filter: grayscale(100%);
}

.credit {
  background-image: url("../Assets/backgroundImage.png");
  text-align: center;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  width: 400px;
  height: 350px;
  line-height: 60px;
}

.gameMenu {
  background-color: rgba(0, 0, 0, 0.603);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1250px;
  height: 700px;
}

#save, #load, #credit, #close {
  margin-top: 0px;
  margin-left: 0px;
}

button#save {
  margin-top: 290px;
}

/*Text ist not able to be selected = better clicking thru*/
content,
name,
speech, 
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
