<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ArtemisMysterium.css">
  <link rel="icon" href="./../Assets/icon.png">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/ArtemisMysterium.js"></script>
  <title>Artemis Mysterium</title>
  <splash src="Images/Splash.png" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Reenie+Beanie&display=swap" rel="stylesheet">
</head>

<body>
  <scene>

    <dialog type="splash" open>
      <img id="FudgeStoryLogo" theme="dark" /> <!-- use "light" or "dark" -->
      <img width="670px" src="./../Assets/Titel.png">
    </dialog>

    <canvas></canvas>

    <div id="endScreen" class="endScreenInvisible">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-cat_001.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-angryMaire.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-angrygrace.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-Maire&Bronte.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-miau.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-plasch.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-würg.png">
      <img class="achievment outAchievment" src="../Assets/achievment/Achivment-yummy.png">
      <button>Restart</button>
    </div>

    <speech>
      <name>
        <!-- The name of the character speaking -->
      </name>
      <content id="speechContent">
        <!-- The text the character says -->
      </content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>

  </scene>
</body>

</html>