scene {
  width: 1280px;
  height: 720px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  width: 100%;
  height: 100%;
  margin: auto;
}


html {
  background-image: url("Asset/backgroundImage.png");
  background-color: rgb(37, 37, 37);
  background-size: cover;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  background-image: url("Asset/backgroundImage.png");
  background-size: cover;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

dialog {
  padding: 1em;
  border: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.309);
}


button {
  padding: 1em;
  margin-left: 2em;
  margin-top: 20%;
  border: 0px;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  padding-left: 100px;
  font-weight: bolder;
  background: url("Asset/labels-4963742_1280.png");
  background-size: cover;
  width: 300px;
  height: 110px;
}

button:empty {
  display: none;
}

button:hover {
  filter: grayscale(100);
}

.basicChoice {
  width: 1280px;
}

speech {
  padding: 1em;
  width: 700px;
  height: 150px;
  margin: auto;
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  background: rgb(255, 249, 231);
  visibility: hidden;
  border-radius: 5px;
  position: relative;
  top: -185px;
}

content {
  color: rgb(18, 18, 18);
  font-family: 'Mali', cursive;
  font-size: 1.3em;
  width: 500px;
  height: 150px;
}

.textEffectBig {
  font-size: 6em;
  text-align: center;
  margin: auto;
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
}

name {
  color: rgb(157, 157, 157);
  font-size: 1.4em !important;
  display: block;
  font-family: 'Bad Script', cursive;
  
}

.Remington name {
  text-decoration: underline rgba(22, 18, 18, 0.48) 2px;
  color:rgb(22, 18, 18) ;
}

.Mairé name {
  text-decoration: underline rgba(228, 108, 95, 0.48) 2px;
  color:rgb(228, 108, 95) ;
}

.Brontë name {
  text-decoration: underline rgba(99, 8, 8, 0.81) 2px;
  color:rgba(99, 8, 8) ;
}

.Grace name {
  text-decoration: underline rgba(176, 121, 34, 0.81) 2px;
  color: rgba(176, 121, 34);
}

.Alaistar name {
  text-decoration: underline rgba(12, 75, 17, 0.81) 2px;
  color:rgba(12, 75, 17) ;
}

.Odette name {
  text-decoration: underline rgba(45, 179, 213, 0.413) 2px;
  color:rgba(45, 179, 213) ;
}

.Isaac name {
  text-decoration: underline rgba(26, 36, 114, 0.34) 2px;
  color: rgba(26, 36, 114);
}

.Stella name {
  text-decoration: underline rgba(189, 143, 169, 0.843) 2px;
  color: rgba(189, 143, 169);
}

#endScreen {
  width: 1280px;
  height: 720px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.326);
  border-radius: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.endScreenInvisible {
  display: none;
}

.endScreenVisible {
  display: flex;
}

#achivementTitle {
  display: none;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  text-shadow: 3px 3px 10px white;
}

.achievment {
  width: 250px;
  height: 250px;
  filter: grayscale(0%);
}

.outAchievment {
  filter: grayscale(100%);
}

.achievment ~ p {
 text-align: center;
 font-size: 1.2em;
 width: 220px;
 margin-top: -10px;
}

.scoreDetectiv{
  padding: 0 5% 0 5%;
  text-align: center;
}

#detectivPoints {
  font-size: 2em;
}

#restartButton {
  margin: 0 auto;
}

#flexRestartButton {
  display: none;
  margin-top: 10px;
}

.credit {
  background-image: url("Asset/backgroundImage.png");
  text-align: center;
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  width: 400px;
  height: 350px;
  line-height: 60px;
}

.scaleUnlocked {
  background-image: url("Asset/backgroundImage.png");
  text-align: center;
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  width: 700px;
  height: 300px;
  line-height: 60px;
  border: 4px solid white;
}

.diaryUnlocked {
  background-image: url("Asset/backgroundImage.png");
  text-align: center;
  font-size: 1.4em;
  font-family: 'Playfair Display', serif;
  width: 700px;
  height: 400px;
  line-height: 60px;
  border: 4px solid white;
}

.diaryEntrys{
  background-image: url("Asset/paperDiary.jpg");
  text-align: center;
  font-family: 'Playfair Display', serif;
  width: 600px;
  height: 650px;
}

.diaryEntrys p {
  font-size: 1.1em;
  font-weight: 600;
}

.gameMenu {
  background-color: rgba(0, 0, 0, 0.603);
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1250px;
  height: 700px;
}

#save,
#load,
#credit,
#close,
#diary {
  margin-top: 0px;
  margin-left: 0px;
}

button#save {
  margin-top: 290px;
}

button#close {
  background-image: url("Asset/backgroundImage.png");
  font-size: 2em;
  color: rgb(90, 16, 16);
  margin: auto;
  margin-top: 20px;
  display: grid;
  padding: 10px;
  height: auto;
  border-radius: 10px;
  width: 100%;
}

/*Text ist not able to be selected = better clicking thru*/
content,
name,
speech,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  background-color: rgba(255, 255, 255, 0.402);
  color: black;
  list-style: none;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

li {
  padding-top: 20px;
  font-size: 1.2em;
  text-align: center;
  width: 300px;
  background-color: rgba(213, 204, 159, 0.534);
}

/*Inventory*/
/*don't show number*/
amount {
  display: none;
}

name {
  color: black;
  font-size: 1.5em;
}

.inventoryHeadline {
  background-color: rgba(255, 255, 255, 0.535);
  font-size: 2em;
  padding: 10px;
  width: 71%;
  margin: 0 auto;
  text-align: center;
}

.inventoryButton {
  background-image: none;
  background-color: bisque;
  padding: 0px 0px 0px 0px;
  width: 72%;
  display: block;
  margin: 0 auto;
  height: 50px;
}

.inventoryList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.inventoryList img {
  display: block;
  margin: 0 auto;
}

/*meter*/

#meterScale {
  display: none;
}

meter {
  position: relative;
  transform: rotate(360deg);
  top: -140px;
  left: 10%;
  width: 80%;
  max-width: 1280px;
  height: 25px;
}

meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(
    90deg, 
    rgb(227, 227, 227)  25%,
    rgb(166, 127, 127)  50%,
    rgb(110, 68, 68) 75%, 
    rgb(90, 4, 4) 100%
  );
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[id="grace"]{
  color: rgb(255, 248, 253);
  background-color:rgb(155, 42, 95);
  font-size: 11pt;
  position: absolute;
  left: 1.2%;
  bottom: 19.5%;
  width: 4%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* .inventoryButtonTop {
  background-image: none;
  display: block;
  position: absolute;
  top: 10px;
  right: 19%;
  padding: 0 10px 0 0;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 100;
}

.menueButtonTop {
  background-image: none;
  display: block;
  position: absolute;
  top: 10px;
  right: 16%;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
} */

/*emotion
~~ Große Bildschirm ~~
*/

#e-ausruf {
  position: fixed;
  top: 40%;
  left: 35%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: none;
  z-index: 20;
}

@media screen and (max-width: 1200px) {
  
  #e-ausruf {
    top: 35%;
    left: 30%;
    max-width: 55%;
  }

}